body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway Light', arial;
}

header{
    background-image: url("./images/back.png");
    width: 100%;
    height: 470px;
}

#header-content{
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 50px;
}

.header-content-top{
    height: 30px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: inline-flex; 
    background-image: url("./images/logo.png");
    width: 180px;
    height: 30px;
}
.menu{
    display: inline-flex; 
}

a {
    text-decoration: none;
}

.sign-up{
    display: inline-flex; 
    width: 80px;
    justify-content: center;
    color: aliceblue;
    border: 1px solid white;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
}

ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
}

li{
    float: left;
    margin-right: 30px;
}

li a {
    color: aliceblue;
}

.active_menu{
    color: #061e37;
}

.header-content_mid{
    padding-top: 50px;
    color: aliceblue;
    max-width: 100%;
}

.header-content_text{
    float: left;
    width: 50%;
}

.header-content_video{
    float: right;
    width: 50%;
}

.header-buttons{
    padding-top: 20px;
}

.header-buttons li {
    text-align: center;
    border-radius: 3px;
    width: 150px;
    height: 30px;
    padding-top: 10px;
}

.header_b1 {
    background-color: #061e37;
    color: white;
}

.header_b2 {
    background-color: white;
    color: #061e37;
}

.video_frame{
    border-radius: 3px;
}

.easy_title{
    color: #061e37;
    text-align: center;
    padding-top: 50px;
    font-size: 32px;
    font-weight: bold;
}

.easy_text{
    color: #b0bec5;
    text-align: center;
    padding-top: 5px;
}

.text1{
    font-size: 20px;
}

.text2{
    margin: 0 auto;
    font-size: 15p;
    padding-top: 5px;
    width: 500px;
}

.titles{
    padding-top: 50px;
    display: flex; 
    justify-content: center;
}

.titlesEvent{
    width: 30%;
    min-width: 350px;
    text-align: center;
}

.eventPic{
    font-size: 70px;
}

.eventTitle{
    padding-top: 5px;
    color: #061e37;
    font-size: 17px;
    font-weight: bold;
}

.eventText{
    padding-top: 5px;
    color: #061e37;
    font-size: 15px;
}

.icofont-tasks-alt{
    color: #b388ff;
}

.icofont-team{
    color: #80d8ff;
}

.icofont-worker{
    color: #ea80fc;
}

.button_get_started{
    width: 100px;
    font-size: 12px;
    color: aliceblue;
    border: 1px solid #1de9b6;
    background-color: #1de9b6;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin: 15px auto 0 auto;
}

.row_item{
    width: 25%;
    padding-top: 50px;
}

.horizontal_line{
    margin-top: 50px;
    height: 120px;
    display: flex;
}

.hor_left{
    background-color: #80d8ff;
}

.hor_l_center{
    background-color: #82b1ff;
}

.hor_r_center{
    background-color: #b388ff;
}

.hor_right{
    background-color: #ea80fc;
}

.item{
    display: inline;	/* Располагаем элементы по горизонтали */
    list-style: none;	/* Убираем маркеры списка */
}

.item>li{
    margin-right: 0;
    text-align: left;
}